.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background:white;
  padding: 5px;
  width: 340px;
  height: auto;
  margin-top: 10px;
  line-height: auto;
  color: #4b2e83;
  font-weight: bold;
  font-size: 3em;
  text-align: left;
  
}
.flex-item-text {
  background:white;
  padding: 0px;
  width: 360px;
  height: auto;
  margin-top: 0px;
  line-height: auto;
  color: #4b2e83;
  font-weight: bold;
  font-size: 3em;
  text-align: left;
  
}


.inner-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.inner-flex-pic {
  min-width:125px;
  flex-basis:125px;
  height: auto;
	margin-right:10px;
  text-align: center;
  
}.inner-flex-text {
  height: auto;
  min-width:210px;
  max-width:100%;
  flex-basis:210px;
  flex-grow:1;
  margin-top: 10px;
  line-height: auto;
  font-weight: bold;
  font-size: 3em;
  text-align: left;
  
}

.item + .item { 
  margin-left: 2%; 
}

.person-flex {
	display:flex;
	flex-direction:column;
	height:100%;
	border: 2px solid #CECECE;
	padding: 15px;
}
.person-flex img {
	max-height:200px;
	display:block;
	margin:auto;
	filter: drop-shadow(5px 5px 4px #cecece);
}
.person-more {
	margin-top:auto;
	text-align:center;
	line-height:0px;
}

.flex-item-section-chief {
  background:white;
  padding: 12.5px;
  width: 100%;
  height: auto;
  margin-top: 10px;
  line-height: auto;
  color: #4b2e83;
  font-weight: bold;
  font-size: 3em;
  text-align: left;
  
}

.person-flex-section-chief {
	display:flex;
	flex-flow:row wrap;
	justify-content: space-around;
	height:100%;
	border: 2px solid #CECECE;
	padding: 15px;
}

.person-flex-section-chief img {
	max-height:250px;
	display:block;
	margin:auto;
	filter: drop-shadow(5px 5px 4px #cecece);
}
